.pokemon__img {
    margin-left: 655px;
}
.input{
    margin-left: 35px;
}
.dropdown{
    margin-left: 35px;
    height: 40px;
}
.btn{
    margin-left: 35px;
}
.search{
    margin-left: 398px;
    margin-top: 345px;
    height: 50px;
}